.cards-container{
    width: 90%;
    display: flex;
    justify-content:space-around;
    color: white;
    margin-top: 40px;
}

.text{
    height: 130px;
    width: 210px
}

.cards{
    font-size: 0.9rem;
    border-radius: 15px;
    background-position: center;
    width: 330px;
    height: 200px;
    padding: 5px 0px 0px 15px;
}

.cards:hover{
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.80);
}