.gur h4{
    font-weight: bold;
    margin-bottom: 20px;
}
.gur h6{
    font-weight: bold;
    margin-bottom: 20px
}
.gur{
    margin-top: 80px;
    margin-left: 8%;
    font-size: 0.9rem;
    opacity: 0.91;
}