table{
    max-width: 70%;
    text-align: center;
}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.all h3{
    font-size: 2.2rem;
    margin-top: 70px;
}

.bolded{
    font-size: 1.1em;
    font-weight: bold;
}