.cont{
    margin-left: 7%;
    text-align: left;
    margin-right: 5%;
}


.cont h6{
    font-weight: 600;
    margin:40px 0px;
}

.cont h5{
    font-weight: 600;
    margin:40px 0px;
}

.cont h2{
    font-weight: 600;
    margin:40px 0px;
}
.cont h4{
    font-weight: 600;
    margin:40px 0px 20px 0px;
}