.leas{
    margin-left: 7%;
    width: 70%
}

.leas h4{
    font-weight: bold;
    margin: 30px 0;
    font-size: 1.6rem;
}

.leas h6{
    font-weight: bold; 
    margin: 20px 0;
}

.leas p,li{
    opacity: 0.85;
}