.list{
    color: black;
    width: 80%;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.list b{
    font-weight: bold;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.title-deal-violet{
    margin-top: 70px;
    margin-bottom: 50px;
}