.container{
    margin-left: 6%;
    width: 85%;
}

.container strong{
    font-weight: bold;
}

.container h2{
    font-weight: bold;
    margin: 20px 0;
}

.container h6{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}
.clear {
    clear: both;
    width: 100%;
    padding: 10px 0;
}

h2 {
    font-weight: 300;
    padding: 15px 0;
}

@media only screen and (max-width: 500px) {
    .container{
        margin-left: 2%;
        width: 75%;
    }
    .container img{
        width: 100%;
    }
}