.tools-container{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.tools-container h5{
    margin-top: 30px;
    font-size: 1.1rem;  
    text-transform: uppercase;
    font-weight: bold;

}
.tools-container a{
    outline: none;
    color: #333333;
}
.tools-container div{
    min-width: 250px;
    width: 25%;
}
.tools-container div:hover{
    transition: all 0.3s ease-in-out;
    color: #0099ff;
}
.container-big-tools{
    text-align: center;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container-big-tools h3{
    font-size: 2.2rem;
    color: grey;
    opacity: 0.8;
    margin-bottom: 70px;
}

@media only screen and (max-width:950){
   
}
@media only screen and (max-width:600){
  
}