.service_comp{
    margin-left: 10%;
    margin-top: 50px;
}
.service_comp h5{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 20px;
}
.service_comp img{
    margin-bottom: 40px;
}
.service_comp p{
    margin-top: 40px;
    font-weight: 100;
    font-size: 1.4rem;
}
.tabl{
    text-align: center;
}

.tabl thead tr th{
    font-weight: bold;
    font-size: 1.3rem;
}

.tabl tbody tr td{
    font-size: 1rem;
}