.App{
  font-family: Helvetica,Arial,sans-serif;}

.dr-men{
  display: block;
}

.dr-item{
  width: 200px;
  text-align: center;
  color: #1e317a;
  padding: 15px 0;
  display: block;
  border-bottom: 1px solid #e8e8e8;
}
.link-dp{
  color:#00205b;
}

.dr-item:hover .link-dp{
  color: #0099ff;
  outline: none;
  text-decoration: none;
}

.dr-item .link-dp{
  outline: none;
  font-weight: bold;
}

.navb{
  background-color: #333333;
  color: white;
  height: 70px;
}

.nav2{
  height:100px;
}

.napisatNam{
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  font-size: 18px;
  width: 150px;  
}

.link{
  color: white;
  text-decoration: none;
  outline: none;
  margin-top:8px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid transparent;
}


.link:hover{
  color:white;
  outline: none;
  border-bottom: 3px solid white;
}
.im{
  transform:scale(1.4);
}
.navlinks{
  font-weight: bold;
  color: #232323;
  opacity: 1;
  text-align: left !important;
  font-size: 0.93rem; 
  vertical-align: middle;
  line-height: 20px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  outline: none;
  text-decoration: none;
}
.navlinks:hover{
  border-bottom: 3px solid #333333;
}



.button-view{
  float: left;
  width: 350px;
  opacity: 1;
}

.button-view:hover{
  opacity: 0.9;
  transition:all 0.5s ease-in-out;

}

.button-view span{
  font-weight: bold;
  color: white;
  opacity: 1 !important;
}
.menu{
  margin-left: -200px;
  transition: 0.33s ease-in-out;
}
.subarubrand{
  outline: none;
}
.subarubrand a{
  outline: none;
}

.admin{
  width: 100%;
  min-height: 1200px;
  display: flex;
  position: absolute;
  top: 0;
  background-color: white;
}