@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');body {
  margin: 0;
  font-size:15x;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nanum Gothic', sans-serif;}

code {
}
